.places {
  display: grid;
  margin: 92px auto 80px;
  max-width: 987px;
  grid-template-rows: repeat(4, auto);
  gap: 80px;
}

.places__storie {
  display: grid;
  margin: 0 auto 0;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, auto);
  gap: 48px 40px;
  align-self: flex-start;
}

.places__title {
  margin: 0;
  padding: 0;
  max-width: 460px;
  max-height: 152px;
  font-size: 72px;
  font-family: "inter black", sans-serif;
  font-style: normal;
  font-weight: 900;
  line-height: 1;
  grid-column: 1/2;
  grid-row: 1/3;
}

.places__artist {
  font-size: 18px;
  grid-column: 2/3;
  grid-row: 2/3;
  align-self: flex-start;
}

.places__link {
  text-decoration: none;
  color: inherit;
}

.places__artist-header {
  font-size: 12px;
  color: #aaa;
  padding: 0 0 8px 0;
}
.places__artist-author {
  font-size: 18px;
  margin: 0;
}

.places__photo-container {
  display: flex;
  flex-direction: column;
  grid-column: 1/2;
  grid-row: 3/5;
}

.places__photo {
  width: 460px;
  height: 460px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  margin-bottom: 48px;
  object-fit: cover;
}

.places__photo:hover {
  opacity: 0.5;
}

.places__button {
  text-decoration: none;
  display: flex;
  width: 289px;
  height: 48px;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(90deg, #0278fe, #003a7b);
  box-shadow: 5px 5px 15px #0000004d;
}
.places__button:hover {
  opacity: 0.5;
}

.places__description-container {
  display: flex;
  flex-direction: column;
  height: auto;
  grid-row: 3/5;
  grid-column: 2/3;
  gap: 20px 0;
}

.places__details {
  margin: 0;
  font-size: 18px;
  font-family: "inter regular", sans-serif;
  font-style: normal;
  line-height: 1.63;
}
.places__button-minimal-width {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .places {
    display: grid;
    margin: 88px auto 90px;
    max-width: 720px;
    grid-template-rows: repeat(4, auto);
    gap: 72px;
  }

  .places__storie {
    display: grid;
    margin: 0 auto 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 48px 28px;
    /* align-self: flex-start; */
  }

  .places__title {
    display: flex;
    margin: 0;
    padding: 0;
    max-width: 340px;
    font-size: 42px;
    font-family: "inter black", sans-serif;
    font-style: normal;
    font-weight: 900;
    line-height: 1;
    grid-column: 1/2;
    grid-row: 1/2;
    align-items: end;
  }

  .places__artist {
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: flex-end;
  }

  .places__link {
    text-decoration: none;
    color: inherit;
  }

  .places__artist-header {
    font-size: 12px;
    color: #aaa;
    padding: 0 0 8px 0;
  }
  .places__artist-author {
    font-size: 18px;
    margin: 0;
  }

  .places__photo-container {
    display: flex;
    flex-direction: column;
    grid-column: 1/2;
    grid-row: 3/5;
  }

  .places__photo {
    max-width: 340px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    margin-bottom: 48px;
  }

  .places__photo:hover {
    opacity: 0.5;
  }

  .places__button {
    text-decoration: none;
    display: flex;
    width: 289px;
    height: 48px;
    border-radius: 4px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(90deg, #0278fe, #003a7b);
    box-shadow: 5px 5px 15px #0000004d;
  }
  .places__button:hover {
    opacity: 0.5;
  }

  .places__description-container {
    display: flex;
    flex-direction: column;
    max-width: 352px;
    grid-row: 3/5;
    grid-column: 2/3;
    gap: 25px 0;
  }

  .places__details {
    margin: 0;
    font-size: 16px;
    font-family: "inter regular", sans-serif;
    font-style: normal;
    line-height: 1.63;
  }
  .places__button-minimal-width {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .places {
    display: grid;
    margin: 62px auto 65px;
    max-width: 320px;
    grid-template-rows: repeat(4, auto);
    gap: 50px;
  }

  .places__storie {
    display: grid;
    margin: 0 auto 0;
    grid-template-rows: repeat(5, auto);
    gap: 30px;
  }

  .places__title {
    display: flex;
    margin: 0;
    padding: 0;
    max-width: 288px;
    font-size: 32px;
    font-family: "inter black", sans-serif;
    font-style: normal;
    font-weight: 900;
    line-height: 1;
    grid-row: 1/2;
  }

  .places__artist {
    grid-row: 2/3;
  }

  .places__link {
    text-decoration: none;
    color: inherit;
  }

  .places__artist-header {
    font-size: 12px;
    color: #aaa;
    padding: 0 0 8px 0;
  }
  .places__artist-author {
    font-size: 18px;
    margin: 0;
  }

  .places__photo-container {
    display: flex;
    flex-direction: column;
    grid-row: 3/4;
  }

  .places__photo {
    max-width: 340px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  }

  .places__photo:hover {
    opacity: 0.5;
  }

  .places__button {
    display: none;
  }

  .places__description-container {
    display: flex;
    flex-direction: column;
    max-width: 352px;
    grid-row: 4/5;
    gap: 25px;
  }

  .places__details {
    margin: 0;
    font-size: 16px;
    font-family: "inter regular", sans-serif;
    font-style: normal;
    line-height: 1.63;
  }
  .places__button-minimal-width {
    text-decoration: none;
    display: flex;
    width: 289px;
    height: 48px;
    border-radius: 4px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(90deg, #0278fe, #003a7b);
    box-shadow: 5px 5px 15px #0000004d;
    grid-row: 5/6;
  }

  .places__button-minimal-width:hover {
    opacity: 0.5;
  }
}
